@import "mixins";
@import "header";
@import "products";
@import "enquiry";
@import "additional";

// Cart

.wc-block-cart-item__image,
.wc-block-cart-items__header-image,
.wc-block-cart-items__header-total {
  border: none !important;
  text-align: center !important;
  font-weight: bold !important;
}

.wp-block-woocommerce-cart {
  margin-top: 20px;
  .wc-block-cart-items__header-image,
  .wc-block-cart-items__header-total {
    background-color: #ffffff !important;
  }
}

.woocommerce-breadcrumb {
  display: flex;
  align-items: center;
  margin-bottom: 0 !important;
  line-height: initial;
  padding-left: 5px !important;
  a {
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0 5px;
    &:hover {
      text-decoration: none;
    }
  }
  .breadcrumb-curent {
    color: #6b9e69 !important;
  }
}
.yith-wcwl-add-button {
  > a {
    i {
      margin-right: 0 !important;
    }
  }
}
.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
  display: inline-block;
  vertical-align: middle;
}
form.cart {
  display: inline-block;
  vertical-align: middle;
}
.single-product {
  .product.type-product.outofstock {
    .yith-wcwl-add-to-wishlist {
      margin-top: 14% !important;
    }
  }
}
.yith-wcwl-add-to-wishlist {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 0 !important;
}
.add_to_wishlist.single_add_to_wishlist.button.alt {
  padding: 12px 15px;
  background: transparent !important;
  background-color: transparent !important;
  border-color: #6b9e69 !important;
  &:hover {
    background: #6b9e69 !important;
    background-color: #6b9e69 !important;
    color: #fff;
    i {
      color: #fff !important;
    }
  }
  i {
    color: #6b9e69;
  }
}
.wp-block-woocommerce-mini-cart-checkout-button-block.wc-block-mini-cart__footer-checkout {
  text-decoration: none;
  background-color: #6b9e69;
  color: #fff;
  &:hover {
    opacity: 0.8;
  }
}
.woocommerce {
  ul.products {
    li.product {
      .button {
        margin-top: 0 !important;
      }
    }
  }
  &:where(body:not(.woocommerce-block-theme-has-button-styles)) {
    button.button.alt.disabled {
      background-color: #6b9e69;
      opacity: 0.5;
      cursor: not-allowed;
      &:hover {
        color: #fff !important;
        border-color: transparent !important;
        background-color: #6b9e69 !important;
        opacity: 0.5 !important;
      }
    }
  }
}
.price {
  margin-bottom: 30px !important;
}
.yith-wcwl-wishlistexistsbrowse {
  padding: 10px 0 !important;
  a {
    color: #6b9e69;
  }
}
.feedback {
  .fa-heart {
    &:before {
      color: #6b9e69;
    }
  }
}
#yith-wcwl-popup-message {
  display: none !important;
}

.sf-menu {
  li:first-child a {
    border: 0px !important;
  }
  a {
    border-left: 2px solid #777 !important;
    padding: 0px 20px !important;
  }
}

.slider-content-box {
  width: 460px;
  max-height: auto;
  white-space: normal;
  background: rgba(38, 38, 40, 0.7);
  padding-bottom: 47px;
}
.slider-content-box h2 {
  color: #fff;
  border-bottom: 1px solid #6b9e69;
  padding: 21px 30px 20px;
  background: rgba(38, 38, 40, 0.68);
}
.slider-content-box h2 a {
  line-height: 1.2 !important;
  color: #fff;
}
.slider-content-box h2 a:hover {
  text-decoration: underline;
  opacity: 1;
}
.slider-content-box p {
  font-family: "Raleway";
  font-size: 16px;
  color: #fff;
  line-height: 26px;
  padding: 10px 15px 15px !important;
}
.slider-content-box .more {
  margin-left: 30px;
}
.tp-caption a:hover {
  color: #fff !important;
}

.more.simple {
  background: transparent;
  color: #FFF;
  border: 1px solid #E2E6E7;
  padding: 17px 24px 16px;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  border-radius: 999px;
}
