@import "mixins";
@import "header";
@import "products";
@import "enquiry";
@import "additional";

// Cart

.wc-block-cart-item__image,
.wc-block-cart-items__header-image,
.wc-block-cart-items__header-total {
  border: none !important;
  text-align: center !important;
  font-weight: bold !important;
}

.wp-block-woocommerce-cart {
  margin-top: 20px;
  .wc-block-cart-items__header-image,
  .wc-block-cart-items__header-total {
    background-color: #ffffff !important;
  }
}

.woocommerce-breadcrumb {
  display: flex;
  align-items: center;
  margin-bottom: 0 !important;
  line-height: initial;
  padding-left: 5px !important;
  a {
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0 5px;
    &:hover {
      text-decoration: none;
    }
  }
  .breadcrumb-curent {
    color: #6b9e69 !important;
  }
}
.yith-wcwl-add-button {
  > a {
    i {
      margin-right: 0 !important;
    }
  }
}
.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
  display: inline-block;
  vertical-align: middle;
}
form.cart {
  display: inline-block;
  vertical-align: middle;
}
.single-product {
  .product.type-product.outofstock {
    .yith-wcwl-add-to-wishlist {
      margin-top: 14% !important;
    }
  }
}
.yith-wcwl-add-to-wishlist {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 0 !important;
}
.add_to_wishlist.single_add_to_wishlist.button.alt {
  padding: 12px 15px;
  background: transparent !important;
  background-color: transparent !important;
  border-color: #6b9e69 !important;
  &:hover {
    background: #6b9e69 !important;
    background-color: #6b9e69 !important;
    color: #fff;
    i {
      color: #fff !important;
    }
  }
  i {
    color: #6b9e69;
  }
}
.wp-block-woocommerce-mini-cart-checkout-button-block.wc-block-mini-cart__footer-checkout {
  text-decoration: none;
  background-color: #6b9e69;
  color: #fff;
  &:hover {
    opacity: 0.8;
  }
}
.woocommerce {
  ul.products {
    li.product {
      .button {
        margin-top: 0 !important;
      }
    }
  }
  &:where(body:not(.woocommerce-block-theme-has-button-styles)) {
    button.button.alt.disabled {
      background-color: #6b9e69;
      opacity: 0.5;
      cursor: not-allowed;
      &:hover {
        color: #fff !important;
        border-color: transparent !important;
        background-color: #6b9e69 !important;
        opacity: 0.5 !important;
      }
    }
  }
}
.price {
  margin-bottom: 30px !important;
}
.yith-wcwl-wishlistexistsbrowse {
  padding: 10px 0 !important;
  a {
    color: #6b9e69;
  }
}
.feedback {
  .fa-heart {
    &:before {
      color: #6b9e69;
    }
  }
}
#yith-wcwl-popup-message {
  display: none !important;
}

.sf-menu {
  li:first-child a {
    border: 0px !important;
  }
  a {
    border-left: 2px solid #777 !important;
    padding: 0px 20px !important;
  }
}

.slider-content-box {
  width: 460px;
  max-height: auto;
  white-space: normal;
  background: rgba(38, 38, 40, 0.7);
  padding-bottom: 47px;
}
.slider-content-box h2 {
  color: #fff;
  border-bottom: 1px solid #6b9e69;
  padding: 21px 30px 20px;
  background: rgba(38, 38, 40, 0.68);
}
.slider-content-box h2 a {
  line-height: 1.2 !important;
  color: #fff;
}
.slider-content-box h2 a:hover {
  text-decoration: underline;
  opacity: 1;
}
.slider-content-box p {
  font-family: "Raleway";
  font-size: 16px;
  color: #fff;
  line-height: 26px;
  padding: 10px 15px 15px !important;
}
.slider-content-box .more {
  margin-left: 30px;
}
.tp-caption a:hover {
  color: #fff !important;
}

.more.simple {
  background: transparent;
  color: #fff;
  border: 1px solid #e2e6e7;
  padding: 17px 24px 16px;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  border-radius: 999px;
}

.header .wrapper-header-logo {
  align-items: center;
}
.woo-variation-swatches
  .variable-items-wrapper
  .variable-item:not(.radio-variable-item).selected {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid;
}
.sf-menu a:hover,
.sf-menu a:visited:hover {
  color: #6b9e69;
}
.woocommerce-loop-product__title {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  height: 50px;
  font-size: 16px !important;
  line-height: 20px !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.accordion-menu .accordion-item .accordion-header a,
.accordion-content a {
  letter-spacing: 1px;
  line-height: 20px;
}
.woocommerce a.add_to_wishlist.button.alt {
  padding: 12px 15px !important;
  border-radius: 50% !important;
}
.add_to_wishlist.single_add_to_wishlist {
  padding: 10px 13px !important;
}
.product-attributes-custom h4 {
  margin-bottom: 20px;
}
.wc-block-components-totals-item__label {
  margin-bottom: 10px;
}
.wc-block-mini-cart__button {
  cursor: pointer;
}
.button.alt {
  margin-top: 15px !important;
  padding: 10px 30px !important;
}
.form-row-last button {
  padding: 12px !important;
}
.coupon input {
  padding: 13px !important;
}
#coupon_code {
  margin-top: 0px !important;
  border: 1px solid #f0f0f0;
}
.single .single_add_to_cart_button.button {
  margin-top: 0px !important;
}
.woocommerce .quantity .qty {
  height: 15px !important;
}
.sku_wrapper,
.posted_in {
  display: block;
  margin-bottom: 5px;
}
.woocommerce ul.products li.product h2.woocommerce-loop-product__title {
  line-height: 25px !important;
}
.add_to_wishlist.single_add_to_wishlist {
  margin-top: 0 !important;
}
.products.columns-5 .product-category .woocommerce-loop-category__title {
  line-height: 25px !important;
}

.footer-row .vc_row .vc_col-sm-3 {
  width: 50%;
}
.footer-row .vc_row-fluid [class*="vc_col-sm"] {
  margin-left: 0px;
}
.w-50 {
  width: 50% !important;
}
.header-middle-bar-container{
  .sf-menu {
    li {
      .sub-menu {
        padding: 30px;
        width: 1090px !important;
        background-color: white;
        column-count: 4;
        column-gap: 20px;
        li{
          padding: 10px 0;
          background-color: white;
          width: 100% !important;
        }
        a {
          border-top: 0 !important;
          border-left: 0 !important;
        }
      }
    }
  }
}
